body{
    font-family: verdana;
    text-align: center;
    align-items: center;
    
    
    background-color: black;
}

h1{
    color: white;
    font-size: 3em;
}
h2{
    color: white;
    font-size: 2em;
}
button{
    background-color: orange;
    color: black;
    font-size: 2em;
    font-weight: 2em;
    border-radius: 15px;
    outline-color: orange;
}

h2, button{
    justify-content: center;
    text-align: center;

}
